{% extends 'forms.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<div class="solicitud">
    <h2>Registrar pago</h2>
    <div class="card">
        <div class="img-pagado">
            {% if factura and factura.factura_registrada %}
                <img src="{% static 'pagado.png' %}" alt="Pagado">
            {% else %}
                <img src="{% static 'sin-pagar.png' %}" alt="Pagado">
            {% endif %}
        </div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="post" id="formulario" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-container">
                    <div class="form-solicitud">
                        <label for="id_solicitud" class="form-label">Orden:</label>
                        {{ form.solicitud }}
                    </div>
                    <div class="form-solicitud">
                        <button type="submit" {% if orden.enviado %}disabled{% endif %}>Confirmar Orden</button>
                        <a href="{% url 'factura' orden_id=orden.id %}">
                            <button type="button" {% if not orden.enviado %}disabled{% endif %}>Crear Factura</button>
                        </a>
                        <a href="{% url 'ordenCompra' %}">
                            <button type="button">Volver</button>
                        </a>
                    </div>
                </div>
                {% if factura and factura.factura_registrada %}
           
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#emailModal">
                    Enviar correo
                    </button>

                    <a href="{% url 'facturaPdf' orden_id=orden.id %}" class="btn btn-success">Factura PDF</a>
                {% endif %}
                <div class="form-container">
                    <div class="form-solicitud">
                        <label for="proveedor" class="form-label">Detalles del proveedor:</label>
                        <p>Proveedor: {{ proveedor.nombre_proveedor }}</p>
                        <p>Contacto: {{ proveedor.contacto_proveedor }}</p>
                        <p>Teléfono: {{ proveedor.telefono_proveedor }}</p>
                        <p>Correo: {{ proveedor.email_proveedor }}</p>
                    </div>
                    <div class="form-solicitud mb-3">
                        <label for="id_fecha_factura" class="form-label">Fecha de Factura:</label>
                        {{ form.fecha_factura }}
                    </div>
                    <div class="form-solicitud mb-3">
                        <label for="id_fecha_contable" class="form-label">Fecha Contable:</label>
                        {{ form.fecha_contable }}
                    </div>
                    <div class="form-solicitud mb-3">
                        <label for="id_banco_receptor" class="form-label">Banco Receptor:</label>
                        {{ form.banco_receptor }}
                    </div>
                </div>
                <div class="form-container">
                    <div class="form-group">
                        <h4>Productos Agregados</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th># ID</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Subtotal</th>
                                    <th>Recibido</th>
                                    <th>Impuesto</th>
                                    <th>Total Impuesto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto_solicitud in productos %}
                                <tr>
                                    <td>{{ producto_solicitud.producto.id }}</td>
                                    <td>{{ producto_solicitud.producto.nombre_producto }}</td>
                                    <td>{{ producto_solicitud.producto.descripcion_producto }}</td>
                                    <td>{{ producto_solicitud.cantidad }}</td>
                                    <td>${{ producto_solicitud.producto.precio_producto }}</td>
                                    <td><input type="number" name="subtotal_{{ producto_solicitud.id }}" value="{{ producto_solicitud.subtotal }}" class="form-control" step="0.01" readonly>
                                    </td>
                                    <td>
                                        <input type="number" name="cantidad_recibida_{{ producto_solicitud.id }}" value="{{ producto_solicitud.cantidad_recibida }}" class="form-control"      required min="1">
                                    </td>
                                    <td>
                                        <input type="number" name="impuesto_{{ producto_solicitud.id }}" value="{{ producto_solicitud.impuesto }}" class="form-control" step="0.01" required>
                                    </td>
                                    <td>
                                        <input type="number" name="total_{{ producto_solicitud.id }}" value="{{ producto_solicitud.total }}" class="form-control" step="0.01" readonly>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>  
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/orden.js' %}"></script>

<div class="modal" id="emailModal">
    <div class="modal-dialog">
        <div class="modal-content">
           
            <div class="modal-header">
                <h4 class="modal-title">Enviar Correo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <form method="post" action="{% url 'send_email' orden_id=orden.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Correo Electrónico:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
           
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/orden.js' %}"></script>
{% endblock content %}


